body {
    margin: 0;
    overflow: hidden;
    background: #222;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #6bb5ff;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('Resources/Background1.png');
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

#stage {
    position: relative;
    width: 2000px;
    height: 100%;
    margin: 0 auto;
}

.character, .enemy {
    position: absolute;
    width: 80px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    bottom: 100px;
    z-index: 2; 
}

#enemy2 {
    width: 250px;
    height: 150px;  
}


#player {
    width: 100px;
    height: 150px;
    bottom: 90px;
}
#player[style*="Player_Run.png"] {
    background-size: 130% auto;
}


#floor {
    position: absolute;
    margin-top: 0px;
    bottom: 0px;
    left: 0;
    width: 2000px;
    height: 120px;
    background: repeating-linear-gradient(
        45deg,
        #5a3b1d,
        #5a3b1d 20px,
        #4b2f17 20px,
        #4b2f17 40px
    );
    border-top: 2px solid #111;
    z-index: 1;
}


.scene-trigger {
    position: absolute;
    width: 200px;
    height: 320px;
    background-image: url('Resources/PTrigger.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: 20px;
    z-index: 2;
}


#dialogueBox {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid white;
}

#life-bar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
}

#life-bar img {
    width: 150px;
    height: auto;
}

.enemy.idle {
  background-image: url('Resources/enemy1_idle.png');
}
.enemy.attacking {
  background-image: url('Resources/enemy1_atk.png');
}

