body {
    margin: 0;
    overflow: hidden;
    background: #222;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #6bb5ff;
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('Resources/Background1.png');
    background-size: cover;
    background-position: bottom;
    z-index: 0;
}

#stage {
    position: relative;
    width: 2000px;
    height: 100%;
    margin: 0 auto;
}

.character, .enemy {
    position: absolute;
    width: 80px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    z-index: 2;
}

#floor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2000px;
    height: 80px;
    background: repeating-linear-gradient(
        45deg,
        #5a3b1d,
        #5a3b1d 20px,
        #4b2f17 20px,
        #4b2f17 40px
    );
    border-top: 2px solid #111;
    z-index: 1;
}

.scene-trigger {
    position: absolute;
    width: 80px;
    height: 120px;
    background-image: url('Resources/PTrigger.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 80px; /* sobre el suelo */
    z-index: 2;
}

#dialogueBox {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 999;
    border: 2px solid white;
}
