body {
    margin: 0;
    overflow: hidden;
    background: #222;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#stage {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotateX(45deg) scale(0.8);
    transform-origin: center;
}

.character, .enemy {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 100px;
    transform: translateX(-50%);
    transition: all 0.2s;
}

.character {
    background-color: red;
    z-index: 2;
}

.enemy {
    background-color: blue;
    z-index: 2;
}

#floor {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) rotateX(60deg);
    width: 2000px; /* Ancho de la escena */
    height: 400px;  /* profundidad */
    background: repeating-linear-gradient(90deg,#2b1f14, #2b1f14 10px, #241b12 10px,#241b12 20px);
    border: 2px solid #111;
    box-shadow: 0 -20px 80px rgba(0, 0, 0, 0.6) inset;
    transform-origin: bottom;
    z-index: 0;
}


.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #b7c0e3, #756dd7, #13203a);
    z-index: -1;
}

.scene-trigger {
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: orange;
    bottom: 100px;
    transform: translateX(-50%);
    z-index: 2;
}



