body {
    margin: 0;
    overflow: hidden;
    background: #222;
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#stage {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotateX(45deg) scale(0.8);
    transform-origin: center;
}

.character, .enemy {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 100px;
    transform: translateX(-50%);
    transition: all 0.2s;
}

.character {
    background-color: red;
    z-index: 2;
}

.enemy {
    background-color: blue;
    z-index: 2;
}

.floor {
    position: absolute;
    width: 200%;
    height: 100px;
    background: linear-gradient(90deg, #333, #555, #333);
    bottom: 0;
    left: -50%;
    transform: rotateX(60deg);
    transform-origin: bottom;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1a2a6c, #b21f1f, #fdbb2d);
    z-index: -1;
}
