body {
    margin: 0;
    overflow: hidden;
    background-color: black;
  }
  
  #stage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  #background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('Resources/Background1.png');
    background-size: cover;
    z-index: 0;
  }
  
  .character {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    bottom: 100px;
  }
  
  #player {
    background-image: url('Resources/Player.png');
  }
  
  #enemy1 {
    background-image: url('Resources/Trigger2.png');
  }
  
  #trigger1 {
    background-color: transparent;
    border: 2px dashed yellow;
  }
  
  #health-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 20px;
    border: 2px solid white;
    background: #222;
    z-index: 100;
  }
  
  #health {
    width: 100%;
    height: 100%;
    background: red;
  }

  #ground {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    background: url('Resources/ground.png') repeat-x;
    background-size: cover;
    z-index: 1;
  }

  .item {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
  }