body {
  margin: 0;
  background-color: #202020;
  font-family: Arial, sans-serif;
  color: white;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

canvas {
  border: 3px solid #fff;
  background-color: #333;
}

#hud {
  margin-top: 10px;
  text-align: center;
}
